*{
  margin: 0 auto;
}
section{
  margin-top: 100px;
}

.container{
    display: flex;
    flex-direction: row;
}
.container img{
    width: 40%;
    margin-left: 10%;
}

.container span{
font-size: 40px;
font-weight: bold;
}

.container p{
  margin: 10%;
  width: 40%;
  font-size: 20px;
  text-align: justify;
}

.black-box{
    background-color: rgba(0, 0, 0, 0.883);
    width: 100%;
    padding-bottom: 5%;
    margin-top: 10%;
}

.black-box img{
    width: 70%;
    margin: 15%;
    margin-bottom: 10%;  
}

.black-box button{
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 30px;
    border-radius: 50px;
    background-color:#1450BA;
    color: #fff;
}

.titleTeam{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 1%;
}

.teamImg{
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.teamImg img{
   border-radius: 100%;
   width: 15%;
}

.textTeam{
    width: 60%;
    margin-top: 5%;
    font-size: 40px;
}

.black_box_two{
  background-color: rgba(0, 0, 0, 0.883);
  width: 100%;
  padding-bottom: 5%;
  margin-top: 10%;
  
}

.black_box_two h1{
    color: #fff;
    padding-top: 20%;
    font-size: 40PX;
}

.first_product{
    background-color: #779EBD;
    width: 35%;
    padding: 1% 0%;
    display: flex;
    border-radius: 20px;
}

.first_product img{
    width: 60%;
} 