*{
  margin: 0 auto;
}
section{
  margin-top: 100px;
}

.container{
    display: flex;
    flex-direction: row;
}
.container img{
    width: 40%;
    margin-left: 10%;
}

.container span{
font-size: 40px;
font-weight: bold;
}

.container p{
  margin: 10%;
  width: 40%;
  font-size: 40px;
  text-align: justify;
}

.black-box{
    background-color: rgba(0, 0, 0, 0.883);
    width: 100%;
    padding-bottom: 5%;
    margin-top: 10%;
}

.black-box img{
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  
}

.black-box p{
  color: #fff;
  text-align: center;
  font-size: 40px;
  width: 60%;
  padding-top: 5%;
  text-align: justify;
}



.after_black_box img{
    width: 70%;
    margin: 15%;
    margin-bottom: 5%;  
}

.after_black_box button{
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 30px;
    border-radius: 50px;
    background-color:#1450BA;
    color: #fff;
    margin-bottom: 5%;
}

.titleTeam{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 1%;
}

.teamImg{
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.teamImg img{
   border-radius: 100%;
   width: 15%;
}

.textTeam{
    width: 60%;
    margin-top: 5%;
    font-size: 40px;
}

.black_box_two{
  background-color: rgba(0, 0, 0, 0.883);
  width: 100%;
  
  margin-top: 10%;
  
}

.black_box_two h1{
    color: #fff;
    font-size: 40PX;
}



.title_box_two h2{
  color: #fff;
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin-top: 10%;
}



.black_box_two{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
    
}



.first_product{
    background-color: #779EBD;
    width: 30%;
    padding: 1% 0%;
    border-radius: 20px;
    display: flex;
    height: 500px;
    margin-top: 10%;
}

.first_product img{
    width: 50%;
    height: 500px;
} 

.second_product{
  background-color: #779EBD;
  width: 15%;
  height: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.second_product img{
  width: 70%;
  margin-top: 35%;
}

.three_product{
  background-color: #779EBD;
  width: 15%;
  height: 900px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.three_product img{
  width: 70%;
  margin-top: 60%;
}

h1{
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
}

.history{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.history img{
  width: 30%;
  margin-left: 10%;
}

.history p{
  font-size: 50px;
  width: 50%;
  text-align: justify;
  margin-top: 10%;
}

.history button{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding: 1% 5%;
  font-size: 30px;
  border-radius: 50px;
  background-color: #1450BA;
  color: #fff;
}