* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  header{
  height: 2100px;
  background-image: url("../img/header_picture.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
  .navbar {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
  
  }
  
  .logo img{
  position: absolute;
  left: 15px;
  top: 15px;
  width: 350px;
  }
  
  .navbar a,
  .navbar a {
  color: #DEECF7;
  display: inline-block;
  font-size: 30px;
  padding: 20% 12%;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  }
  
  .navbar a:hover,
  .page_navbar a:hover {
  color: #1450BA;
  }
  
  .nav_external_link {
  font-size: 18px;
  padding: 8% 10%;
  }
  
  .navitem {
  width: 15%;
  }
  
  .page_header {
  display: flex;
  flex-direction: row;
  }
  
  .page_navbar {
  background-color: #67328D;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  }
  
  .text-header{
  margin-top: 29%;
  padding-left: 10%;
  font-size: 40px;
  color: #fff;
  }
  
  @media screen and (max-width: 1860px){
  .navbar a{
  display: none;
  }
  }
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

p{
  font-size: 30px;
  padding-top: 1%;
}

.reseaux{
  width: 300px;
  display: flex;
  flex-direction: row;
}
.reseaux img{
  padding: 10px;
  width: 50%;
  
  
}