* {
  margin: auto;
}

.header-image {
  background: center / cover no-repeat rgb(34, 5, 10);
  position: relative;
  height: 400px;
  width: 100%;
}

/* .container {
  margin: 20px;
  padding: 20px;
} */

.image-tom,
.image-jonathan,
.image-arturo {
  background: gray;
  height: 100px;
  /* margin-left: 50px;
  margin-right: 50px; */
  margin-top: 30px;
}

.top,
.bottom {
  background: black;
  color: white;
  padding-top: 20px;
  opacity: 80%;
}

.top,
.middle,
.bottom {
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  color: #1450BA ;
}
