* {
  margin: auto;
  font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
}

.header-image {
  background: center / cover no-repeat  url(..//img/drone_mountain.jpg);
  position: relative;
  height: 400px;
  width: 100%;
}

h1{
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;;
}

/* .container {
  margin: 20px;
  padding: 20px;
} */

.image-tom,
.image-jonathan,
.image-arturo {
  height: 190px;
  /* margin-left: 50px;
  margin-right: 50px; */
  margin-top: 30px;
}

.image-tom {
  background: center no-repeat url(../img/jonathan_round.png);
}

.image-jonathan {
  background: center no-repeat url(../img/jonathan_round.png);
}

.image-arturo {
  background: center no-repeat url(../img/arthuro_round.png);
}

.top,
.bottom {
  background: black;
  color: white;
  padding-top: 20px;
  opacity: 80%;
}

.top,
.middle,
.bottom {
  padding-bottom: 20px;
  padding-left: 90px;
  padding-right: 150px;
  /* text-align: center; */
}

h2 {
  color: #1450BA ;
}

@media screen and (min-width: 768px) {
  .top,
  .middle,
  .bottom {
    align-items: baseline;
}
  .image-tom {
  background: no-repeat url(../img/jonathan_round.png);
}

  .image-jonathan {
  background: no-repeat url(../img/jonathan_round.png);
}

  .image-arturo {
  background: no-repeat url(../img/arthuro_round.png);
}
}
